*{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1;
}

html,body {
  height: 100%;
  overflow: hidden;
}

body{
  background: rgb(0, 0, 0)
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: rgba(255, 255, 255, 0.33);
}

.content{
  display: flex;
  height: 100%;
  font-size: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects{
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#c {
  position: fixed;
  z-index: -1;
}
.bg-controller {
  opacity: 0.1;
  color: #d3d3d394;
  position: fixed;
  bottom: 2em;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#next-bg {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 48px;
  width: 48px;
  background-color: rgba(255, 255, 255, 0.1);
}

#prev-bg {
  position: fixed;
  top: 10px;
  right: 68px;
  height: 48px;
  width: 48px;
  background-color: rgba(255, 255, 255, 0.1);
}

#next-bg:hover, #prev-bg:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

#next-bg:active , #prev-bg:active {
  background-color: rgba(255, 255, 255, 1);
}

#next-bg:active > svg, #prev-bg:active > svg {
  fill: rgba(0, 0, 0, 1);
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d394;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.bg-controller:hover {
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
}